
<%- include('header') -%>
<link href="css/signin.css" rel="stylesheet">
<form class="form-signin" action="/register" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Subscribe to E-books</h1>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
    <button class="btn btn-lg btn-primary btn-block margin-top" type="submit">Sign Me Up!</button>
</form>
<%- include('footer') -%>